*{margin:0;padding:0}
html,body{height:100%}
body{font:14px 'omnes-pro',Helvetica,Arial,sans-serif;font-weight:300;-webkit-transform:all .85s ease-out;}
body.toggle{background:#000;}
body.toggle #map{-webkit-transform:scale(.85) translate(-900px,0)}
body.toggle #rail{box-shadow:inset 0 0 600px,inset 0 0 800px rgba(0,0,0,0.5);-webkit-transform:translate(0,0);}
body.toggle #rail .item{opacity:1;}
body.toggle #rail .item img{-webkit-transform:translate(0,0) scale(1)}
body.toggle #range-wrapper{-webkit-transform:scale(.85) translate(-900px,0)}
#map{width:100%;height:100%;position:fixed;z-index:1;-webkit-transform:translate(0,0);-webkit-transition:all .5s cubic-bezier(.14,.65,.25,.93)}
#range-wrapper{position:absolute;z-index:2;bottom:55px;width:100%;height:35px;background:rgba(0,0,0,0.8);border-top:2px solid rgba(255,255,255,0.5);-webkit-transition:.5s cubic-bezier(.14,.65,.25,.93)}
#range-wrapper .date{color:#fff;margin:10px 2.5% 0 0;display:inline-block;float:right;font-size:85%}
input[type='range']{margin:10px 0 0 2.5%;width:85%}
.circle{border-radius:50%;border:2px solid #000;background:rgba(255,255,255,0.75)}
#rail{position:fixed;top:0;right:0;width:60%;height:100%;background:url("../img/tweed.png");box-shadow:inset 0 0 600px #000,inset 0 0 800px #000,inset 0 0 1000px #000;z-index:10;overflow-y:scroll;-webkit-perspective:800px;-webkit-transform-origin:right;-webkit-transition:.5s cubic-bezier(.14,.65,.25,.93);-webkit-transform:translate(100%,0);}
#rail .item{width:25%;height:120px;float:left;overflow:hidden;opacity:0;}
#rail .item:nth-child(2n+5){-webkit-transition:.25s ease-out .4s}
#rail .item:nth-child(3n+2){-webkit-transition:.3s ease-out .6s}
#rail .item:nth-child(2n+1){-webkit-transition:.1s ease-out .25s}
#rail .item:nth-child(2n+2){-webkit-transition:.2s ease-out .35s}
#rail .item img{width:100%;height:100%;border:1px solid rgba(0,0,0,0.4);-webkit-transition:.45s ease-out .25s}
#zinger{position:fixed;bottom:0;left:0;width:100%;height:55px;z-index:3;background:rgba(71,163,218,0.8);box-shadow:0 -10px 50px rgba(0,0,0,0.12);padding:20px 40px;border-top:1px solid #3086b9}
